@{
    ViewData["Title"] = "Gerenciar Controle de acesso";
}

<br />
    <div class="row">
        <div class="col-lg-3 card">
            <div class="row center">
                <a href="../TipoUsuarios/Index"><img src="~/img/produtos.png" width="150" height="150" /></a>
            </div>
            <span class="item-menu">Tipo Usuário</span>
        </div>
        <div class="col-lg-3 card">
            <div class="row center">
                <a href="../PerfilUsuarios/Index"><img src="~/img/clientes.png" width="150" height="150" /></a>
            </div>
            <span class="item-menu">Perfil Usuários</span>
        </div>
        <div class="col-lg-3 card">
            <div class="row center">
                <a href="../AcessoTipoUsuarios/Index"><img src="~/img/vendedores.png" width="150" height="150" /></a>
            </div>
            <span class="item-menu">Acessos Tipo Usuário</span>
        </div>
        <div class="col-lg-3 card">
            <div class="row center">
                <a href="../Funcionalidades/Index"><img src="~/img/funcionalidades.png" width="150" height="150" /></a>
            </div>
            <span class="item-menu">Funcionalidades</span>
        </div>

    </div>
    <br />
