@{
    ViewData["Title"] = "Gerenciar Controle de acesso";
}

<br />
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <a href="../TipoUsuarios/Index"><img src="~/img/produtos.png" width="150" height="150" /></a>
        </div>
        <span>Tipo Usuário</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="../PerfilUsuarios/Index"><img src="~/img/clientes.png" width="150" height="150" /></a>
        </div>
        <span>Perfil Usuarios</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="../AcessoTipoUsuarios/Index"><img src="~/img/vendedores.png" width="150" height="150" /></a>
        </div>
        <span>Acessos Tipo Usuario</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="../Funcionalidades/Index"><img src="~/img/funcionalidades.png" width="150" height="150" /></a>
        </div>
        <span>Funcionalidades</span>
    </div>

</div>
<br />