/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.center {
    text-align: center;
}

.card {
    text-align: center;
    border: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    margin-bottom: 60px;
    color: rgb(54, 54, 54);
    line-height: 1.7;
}

.login {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    width: 385px;
    margin: 30px auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.button-save {
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
       
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-login {
    background-color: #538bd3;
    color: white;
    transition: all .5s;
    cursor: pointer;
}

.button-list {
    background-color: #538bd3;
    border: 3px solid #538bd3;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-delete {
    background-color: #f15757;
    border: 3px solid #f15757;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-altera {
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 70px;
    transition: all .5s;
    cursor: pointer;
}

.button-detalhe {
    background-color: #538bd3;
    border: 3px solid #538bd3;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 70px;
    transition: all .5s;
    cursor: pointer;       
}

.button-remove {
    background-color: #f15757;
    border: 3px solid #f15757;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 70px;
    transition: all .5s;
    cursor: pointer;
}

.button-sim {
    background-color: #538bd3;
    border: 3px solid #538bd3;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 90px;
    transition: all .5s;
    cursor: pointer;
}

.button-nao {
    background-color: #9e9c9c;
    border: 3px solid #9e9c9c;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 90px;
    transition: all .5s;
    cursor: pointer;
}
.button-novo {
    background-color: #56cfad;
    border: 3px solid #56cfad;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 170px;
    height: 50px;
    transition: all .5s;
    cursor: pointer;
}

.button-pdf {
    background-color: #f37d7d;
    border: 3px solid #f37d7d;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    width: 170px;
    height: 50px;
    transition: all .5s;
    cursor: pointer;
}


.item-login {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(90, 88, 88);
}


.item-menu {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(90, 88, 88);
}



.menu_ul {
    text-align: left;
    margin: 5px 0 0 0;
}

.menu_li {
    display: inline-block;
    list-style: 'none';
    margin-left: 8px;
    /*border: 1px solid rgba(0,0,0, 0.3);*/
}

.menu_a {
    background: rgb(72,190,202);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

    .menu_a:hover {
        background: rgba(44, 125, 134, 0.5);
    }

