@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Registro confirmado";
}

<h1>@ViewData["Title"]</h1>

<p>
    Agradecemos o cadastro. <a asp-action="Index" asp-controller="Home">Clique aqui</a> para ir para a tela inicial.
</p>