@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de senha";
}

<h1 class="center item-login">@ViewData["Title"]</h1>
<p class="center">
    Verifique seu e-mail para redefinir sua senha.
</p>

