@page
@model LoginModel

@{
    ViewData["Title"] = "Acesse o sistema";
}

<h1 class="center item-login">@ViewData["Title"]</h1>
<div class="login-form login-area">
    <div class="col-md-12 ">
        <section>
            <form id="account" method="post">
                <hr class="center col-md-4" />
                <div asp-validation-summary="All" class="text-danger center col-md-4"></div>
                <div class="form-group center col-md-4">
                    <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group center col-md-4">
                    <input asp-for="Input.Password" class="form-control" placeholder="Senha" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group center">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group center col-md-4">
                    <button type="submit" class="btn btn-block button-login">Entrar</button>
                </div>
                <div class="form-group center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
