@model GestaoVendas.Models.Funcionalidade

@{
    ViewData["Title"] = "Remover";
}

<h1>Remover</h1>

<h3>Deseja realmente excluir a funcionalidade selecionado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionalidade)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover registro" class="btn button-delete" />
        <a asp-action="Index" class="btn button-list">Listagem de funcionalidades</a>
    </form>
</div>
