@model GestaoVendas.Models.Funcionalidade

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes da funcionalidade</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionalidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-block btn-success">Alterar</a>
    <a asp-action="Index" class="btn btn-block button-list">Listagem de funcionalidades</a>
</div>
