@model IEnumerable<GestaoVendas.Models.Funcionalidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionalidades</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncionalidade)
                </td>
            </tr>
        }
    </tbody>
</table>
