@model GestaoVendas.Models.TipoUsuario

@{
    ViewData["Title"] = "Remover";
}

<h1>Remover</h1>

<h3>Deseja realmente excluir o tipo de usuário selecionado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipoUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoUsuario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn  button-list">Listagem de Tipos de usuários</a>
    </form>
</div>
