@model GestaoVendas.Models.PerfilUsuario

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 class="titulo text-info">Cadastrar Perfil de Usuário</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="IdTipoUsuario" class="control-label"></label>
                <select asp-for="IdTipoUsuario" class="form-control" asp-items="ViewBag.IdTipoUsuario" id="tipoUsuario"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>

            <div class="form-group" name="nomeVendedor" id="nomeVendedor" style="display:none;">
                <label class="control-label">Nome</label>
                <input type="text" asp-controller="PerfilUsuario" class="form-control" name="nome_vendedor" id="nome_vendedor" required />
                <span class="text-danger" id="msg"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-block button-save" onclick="Enviardados()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-block button-list">Listagem de perfis de usuários</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>

<script>
    $("#tipoUsuario").change(function () {
        var select = document.getElementById('tipoUsuario');
        var textTipoUsuario = select.options[select.selectedIndex].text;

        $('#nomeVendedor').hide();
        if (textTipoUsuario == "Vendedor" || textTipoUsuario == "vendedor")
            $('#nomeVendedor').show();
        else {
            $('#nomeVendedor').hide();
        }

    });

    function Enviardados() {
        var select = document.getElementById('tipoUsuario');
        var textTipoUsuario = select.options[select.selectedIndex].text;

        if (textTipoUsuario == "Vendedor" || textTipoUsuario == "vendedor") {

            if (document.getElementById("nome_vendedor").value == "") {
                msg.innerHTML = "Campo obrigatório";
            }
        }
    }


</script>