@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Clientes/Index"><img src="~/img/clientes.png" width="150" height="150" /></a>
        </div>
        <span>Clientes</span>
    </div>
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Vendedores/Index"><img src="~/img/vendedores.png" width="150" height="150" /></a>
        </div>
        <span>Vendedores</span>
    </div>
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Produtos/Index"><img src="~/img/produtos.png" width="150" height="150" /></a>
        </div>
        <span>Produtos</span>
    </div>
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Fornecedores/Index"><img src="~/img/fornecedores.png" width="150" height="150" /></a>
        </div>
        <span>Fornecedores</span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Vendas/Index"><img src="~/img/vendas.png" width="150" height="150" /></a>
        </div>
        <span>Registro de Vendas</span>
    </div>
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Relatorio/Index"><img src="~/img/relatorios.png" width="150" height="150" /></a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3 card">
        <div class="row center">
            <a href="../Configuracao/Index"><img src="~/img/configuracoes.png" width="150" height="150" /></a>
        </div>
        <span>Configurações do sistema</span>
    </div>
</div>
