@{
    ViewData["Title"] = "Vídeo de apresentação do sistema";
}
<h1 class="titulo text-info">@ViewData["Title"]</h1>
<br />

<a href="/video/2020-TCC-Apresentacao.mp4" class="btn button-save">Clique aqui para assitir o vídeo</a>

