<h2 class="titulo text-info">Relatórios do sistema</h2>

<button type="button" class="btn btn-block btn-primary" style="background-color: #4385b1;" onclick="Relatorio('Vendas')">Vendas por período</button>
<button type="button" class="btn btn-block btn-success" style="background-color: #64c2df;" onclick="Relatorio('Grafico')">Gráfico de vendas por produtos</button>
<button type="button" class="btn btn-block btn-success" style="background-color: #43d692;" onclick="Relatorio('VendasPorVendedor')">Gráfico de vendas por vendedor</button>
<button type="button" class="btn btn-block btn-success" style="background-color: #2f812f;" onclick="Relatorio('DetalhesVendasPorVendedor')">Detalhes das vendas por vendedor</button>
<button type="button" class="btn btn-block btn-primary" style="background-color: #5148a3;" onclick="Relatorio('Estoque')">Estoque de produtos</button>


<script>
    function Relatorio(action) {
        window.location.href = "../Relatorio/" + action;
    }

</script>